body {
  text-align: center;
  margin: 0;
  justify-content: center;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  height: 3rem;
  width: 100vw;
  position: fixed;
  margin-top: 0;
  font-size: 1.8rem;
  gap: 27%;
  justify-content: center;
}

.fa-solid {
  margin-top: .4rem;
}

.whole {
  background-color: red;
  max-width: 1224px;
  margin: auto;
  padding-top: 7.5rem;
}

.food-section {
  /* background-color: aliceblue; */
 /*  display: flex;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
}

.food-figure {
  width: 25rem;
  margin: auto;
}

.food-figure img {
  width: 25rem;
}

.change-page {
  display: flex;
  width: fit-content;
  margin: 5rem auto;
  text-align: center;
}

.change-page-btn {
  border: none;
  background-color: #fff;
  padding: 1rem;
}

.change-page-btn:hover {
  background-color: #000;
  background-size: cover;
  color: #fff;
}

.line1 {
  margin: 4rem 0;
}

.about-me {
  justify-content: center;
  height: auto;
}

.about-me img {
  width: 90vmin;
  margin-bottom: 1rem;
}

.about-me header {
  margin: 2rem 0;
  font-size: 2rem;
  text-transform: capitalize;
}

.first-p {
  font-style: oblique;
  font-size: large;
}

.line2 {
  margin: 4rem 0;
}

footer {
  justify-content: center;
  
  display: flex;
  flex-wrap: wrap;

  /* padding: 0 auto; */

  column-gap: 5rem;
}

.footer-block {
  text-align: left;
  max-width: 25rem;
}

.footer-header {
  font-size: 1.7rem;
}

.blog-post1:hover {
  background: #f0f0f0;
}
